@import url('https://fonts.googleapis.com/css?family=Poppins:400');

html {font-size: 100%;} /*16px*/

*{
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

h6 {font-size: 0.75rem;;}

small, .text_small {font-size: 0.8rem;}

html , body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

.principal{
  background-color: #000000;
  width: 100%;
  margin-bottom: 10%;
}

header{
  width: 100%;
  background-color: rgb(7, 76, 167);
  display: flex;
  position: fixed;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  z-index: 1000;
}

header span{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  color: white;
}

.navlist{
  display: flex;
  gap: 30px;
}

.navlist a{
  font-family: 'Poppins', sans-serif;
  font-weight: 500px;
  align-items: center;
  color: white;
  text-decoration: none;
}

.navlist a:hover{
  color:#000000
}

.navlist a.active{
  color:#000000
}

.home{
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}

.home-text h1{
  font-weight: 500;
}

.home-text span{
  font-weight: 700;
  color: rgb(7, 76, 167);
  font-family: 'Poppins', sans-serif;
}

.home-icon{
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.home-icon img {
  cursor: pointer;
  width: 25px;
  height:25px;
  object-fit: cover;
}

.icon:hover{
  width: 35px;
  height: 35px;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10%;
 
}

.about-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.about-text h1{
  font-weight: 600;
  color: rgb(7, 76, 167);
  margin-bottom: 0px;
}

.about img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(0, 0, 0)0 -3px 0 inset;
}

.aboutme-text span{
  font-weight: bold;
}

.btn-aboutme {
  align-items: center;
  appearance: none;
  background-color: black;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(7, 76, 167)0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  transition: all .45s ease;
}

.btn-aboutme:focus {
  box-shadow:rgb(7, 76, 167) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(7, 76, 167)0 -3px 0 inset;
}

.btn-aboutme:active {
  box-shadow: rgb(7, 76, 167)0 3px 7px inset;
  transform: translateY(2px);
}

.btn_CV {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  padding: 0px 5px;
  height: 50px;
  background-color: rgb(7, 76, 167);
  border-radius: 10px;
  color: #fff;
  transition: all .45s ease;
  
}

.btn_CV:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.portfolio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;

}

.portfolio-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-text h2{
  font-weight: bold;
  margin-top: 0px;
}

.portfolio-text span{
  font-weight: bold;
  color: rgb(7, 76, 167);
  margin-bottom: 0px;
}

.btn-aboutme:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(7, 76, 167)0 -3px 0 inset;
  transform: translateY(-2px);
}

.portfolio-content{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.coloumn{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.row{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.row img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.5s;
}

.coloumn button{
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-size: 15px;
  background: rgb(7, 76, 167);
  color: white;
  min-width: 170px;
  transition: all .45s ease;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.coloumn button:hover{
  transform: scale(1.1);
}

.gradiant-card{
  position: relative;
}

.gradiant-card::before{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  position: absolute;
  background: linear-gradient(rgba(0,0,0,0.1), rgb(7, 76, 167));
  border-radius: 8px;
  z-index: 1;
}

.layer{
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  display:none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}

.layer h5{
  font-size: 20px;
  font-weight:600 ;
  margin-bottom: 15px;
}

.layer p{
  font-size: 16px;
  line-height: 1.8;
}

.row:hover img{
  transform: scale(1.1);
}

.row:hover .gradiant-card::before{
  height: 100%;
}

.row:hover .layer{
  display: flex;
}

.contact{
  color: white;
  background: rgb(29, 29, 29);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  width: 100%;
}

.contact-container{
  width: 100%;
  margin: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-text h4{
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}

.contact-text h2{
  font-weight: 600;
  line-height:1 ;
}

.contact-text p{
  line-height: 1.8;
  margin-bottom: 30px;
}

.contact-text span{
  color: rgb(7, 76, 167);
}

.list a{
  color: white;
  text-decoration: none;
}

.contact-form{
  position: relative;
}

.contact-form form input,
form textarea{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 14px;
  background: #3a3a3a;
  color: #131313;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-form textarea{
  resize: none;
  height: 240px;
}

.contact-form .submit{
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-size: 16px;
  background: rgb(7, 76, 167);
  color: white;
  width: 160px;
  transition: all .45s ease;
}

.contact-form .submit:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.end{
  padding: 1px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: rgb(7, 76, 167);
}

.last-text p{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.top i{
  padding: 10px;
  border-radius: 8px;
  background: #3a3a3a;
  color: white;
}

@media (max-width: 1480px){
  header{
    padding: 12px 2.5%;
    transition: .1s;
  }
  end{
    padding:15px 3% ;
  }
}

@media (max-width: 1110px){
  .home-text h1{
    font-size:2.5rem;
  }
  .home-text h5{
    font-size:17px;
  }
  .home{
    height: 77vh;
  }
  .coloumn{
    display: flex;
    flex-direction: column;
  }
  .row{
    display: flex;
    align-items: center;
  }
  .coloumn img{
    width: 90%;
    margin-bottom: 100px;
  }
}

@media (max-width: 920px){
  .about{
    flex-direction: column;
  }
  .about-text{
    align-items: center;
    margin-bottom: 30px;
  }
  .about img{
    width: 30%;
    height: auto;
    min-width: 200px;
  }
  .contact-container{
    flex-direction: column;
  }
}

@media (max-width: 840px){
header{
  flex-direction: column;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}
}

 